<% include ../../header.ejs %>

<div class="article">
    <div class="article-content">
        <div class="article-title">Ape</div>
        <img class="project-image" src="/images/ape.png">
        <br>
        <a href="http://github.com/igorii/ape">GitHub</a>
        <div class="project-description">
        As an exploration into UNIX-like operating systems process management and interaction, myself and a friend created a process explorer for UNIX-like operating systems we called APE. Using the process file system, known as procfs, found in UNIX-like systems we created a visual solution to process interrogation and management. The tool shows an overview of the processes on a system and allows more intimate interaction with individual processes such as inspecting open files and viewing the process memory map. This was done in C++, and used Qt for the GUI.
        </div>
    </div>
</div>

<% include ../../footer.ejs %>
