<% include ../../header.ejs %>

<div class="article">
    <div class="article-content">
        <div class="article-title">Galactic Golf</div>
        <img class="project-image" src="/images/gg.png">
        <br>
        <div class="project-description">
        For a 48-hour appathon project, myself and two others ventured into the land of C# and XNA. At the time, these two technologies were unknown to us, yet we finished the weekend with a fully functional, multi-level space-physics mini-golf for Windows Phone 7. Players launch the golf ball, aiming for Earth. The ball's trajectory is affected by all manner of space-things including planets and black holes.
        </div>
    </div>
</div>

<% include ../../footer.ejs %>
