<% include ../../header.ejs %>

<div class="article">
    <div class="article-content">
        <div class="article-title">Pointless</div>
        <img class="project-image" src="/images/Screenshot_2013-07-15-20-25-13-168x300.png">
        <br>
        <a href="http://github.com/igorii/pointless">GitHub</a>
        <div class="project-description">
        An extremely simple Weight Watchers point calculator, allowing Points Plus and Original calculations. This was done very quickly just to try out the PhoneGap framework, as well as jQuery-mobile and jQueryui-mobile. In the future, I may add OCR for analyzing nutrition information from a food package and automatically displaying the point calculations.
        </div>
    </div>
</div>

<% include ../../footer.ejs %>
