<% include header.ejs %>

<% articles.forEach(function (article) { %>
    <div class="article">
        <a class="article-title" href="/blog/id/<%= article._id %>">
            <%= article.title %>
        </a>
        
        <div class="article-content">
            <%- article.body %>
        </div>
    </div> 
<% }) %>

<% include footer.ejs %>
