<% include header.ejs %>

<form method="post" action="/blog/save">
    <input style="width:100%" id="edit-title" type="text" name="title">
    <br>
    <textarea style="width:100%;height:450px" id="edit-markdown" name="markdown"></textarea>
    <br>
    <br>
    User <input style="width:100px" id="edit-user" type="text" name="user">
    <br>
    Pass <input style="width:100px" id="edit-pass" type="text" name="pass">
    <br>
    <br>
    <input type="submit" value="Save">
</form>

<% include footer.ejs %>
