<html>
    <head>
        <title>Tim Thornton's Blog</title>
        <link href="/res/bootstrap/3.1.0/bootstrap.min.css" rel="stylesheet">
        <link href="/res/highlight/styles/solarized_dark.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans|Inconsolata|Lato' rel='stylesheet' type='text/css'>
        <link href="/stylesheets/style.css" rel="stylesheet">

        <script src="/res/jquery/jquery-1.8.0.min.js"></script>
        <script src="/res/jquery/validate/dist/jquery.validate.js"></script>
        <script src="/res/jquery/validate/dist/additional-methods.js"></script>
        <script src="/res/bootstrap/3.1.0/bootstrap.min.js"></script> 
        <script src="/res/highlight/highlight.pack.js"></script>
        <script src="/javascripts/tracker.js"></script>
        
        <script src="/javascripts/common.js"></script>
        <script src="/javascripts/narrow.js"></script>
        <script src="/javascripts/blog/comment.js"></script>
        <script src="/javascripts/blog.js"></script>


       <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> 

    </head>
    <body>

        <nav class="navbar navbar-custom" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li><a class="navbar-brand" href="/">Tim Thornton</a></li>
              <li><a class="navbar-custom-button" href="/blog">Blog</a></li>
              <li><a class="navbar-custom-button" href="/about">About</a></li>
              <li><a class="navbar-custom-button" href="/projects">Projects</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>


        <div id="contact-shortcuts">
            <a href="mailto:t.thornton6@gmail.com">
                <img class="contact-img" style="background:#b58900;width:32px" id="email"      src="/images/icons/email/email-48.png">
            </a>
            <br>
            <a href="http://github.com/igorii">
                <img class="contact-img" style="background:#586e75;width:32px" id="github"     src="/images/icons/github/github-48.png"> 
            </a>
            <br>
            <a href="http://ca.linkedin.com/in/tthornton6/">
                <img class="contact-img" style="background:#268bd2;width:32px" id="linkedin"   src="/images/icons/linkedin/linkedin-48.png"> 
            </a>
            <br>
            <a href="https://news.ycombinator.com/user?id=igorii">
                <img class="contact-img" style="background:#cb4b16;width:32px" id="hackernews" src="/images/icons/hackernews/hackernews-48.png"> 
            </a>
        </div>

        <!-- Commenting out until finished
        <div id="recent-articles">
            <%if (recent.length > 0) { %>
                <h5>Recent Articles</h5>
                <ul>
                <%for (var r in recent) { %>
                    <li><a href="/blog/id/<%= recent[r]._id %>"> <%= recent[r].title %></a></li>
                <% } %>
                </ul>
            <% } %>
        </div>
        -->

        <div id="site-content">
