<html>
    <head>
        <link href="/stylesheets/style.css" rel="stylesheet">
        <link href="/res/highlight/styles/solarized_dark.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Belgrano|Open+Sans|Inconsolata' rel='stylesheet' type='text/css'>

        <script src="/res/jquery/jquery-1.8.0.min.js"></script>
        <script src="/res/highlight/highlight.pack.js"></script>
        <script src="/javascripts/common.js"></script>
        <script src="/javascripts/blog.js"></script>

    </head>
    <body>

        <div id="background">
            <img id="lambda" src="/images/lambda3.png">
        </div>

        <div id="sidebar">
            <div id="name" ><span class="name-sidebar">Tim Thornton</span></div>
            <div id="tag">Student • Developer • Hobbyist</div>
            <div class="nav" id="nav-sidebar">
                <div id="blog-btn-sidebar" class="button">> Blog</div>
                <div id="projects-btn-sidebar" class="button">> Projects</div>
                <div id="about-btn-sidebar" class="button">> About</div>
                <div id="resume-btn-sidebar" class="button">> Résumé</div>
                <div id="contact-btn-sidebar" class="button">> Contact</div>
            </div>
        </div>

        <div id="site-content">
