<html>
    <head>
        <link href="/stylesheets/style.css" rel="stylesheet">
        <link href="/res/highlight/styles/solarized_dark.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Belgrano|Open+Sans|Inconsolata' rel='stylesheet' type='text/css'>

        <script src="/res/jquery/jquery-1.8.0.min.js"></script>
        <script src="/res/jquery/validate/dist/jquery.validate.js"></script>
        <script src="/res/jquery/validate/dist/additional-methods.js"></script>
        <script src="/res/highlight/highlight.pack.js"></script>
        <script src="/javascripts/tracker.js"></script>
        
        <script src="/javascripts/common.js"></script>
        <script src="/javascripts/blog/comment.js"></script>
        <script src="/javascripts/blog.js"></script>

    </head>
    <body>
        <div id="contact-shortcuts">
            <a href="mailto:t.thornton6@gmail.com">
                <img class="contact-img" style="background:#b58900;width:32px" id="email"      src="/images/icons/email/email-48.png">
            </a>
            <br>
            <a href="http://github.com/igorii">
                <img class="contact-img" style="background:#586e75;width:32px" id="github"     src="/images/icons/github/github-48.png"> 
            </a>
            <br>
            <a href="http://ca.linkedin.com/in/tthornton6/">
                <img class="contact-img" style="background:#268bd2;width:32px" id="linkedin"   src="/images/icons/linkedin/linkedin-48.png"> 
            </a>
            <br>
            <a href="https://news.ycombinator.com/user?id=igorii">
                <img class="contact-img" style="background:#cb4b16;width:32px" id="hackernews" src="/images/icons/hackernews/hackernews-48.png"> 
            </a>
        </div>

        <div id="sidebar">
            <div id="sidebar-content">
                <!-- <div id="tag">Student • Developer • Hobbyist</div> -->
                <span class="nav" id="nav-sidebar-left">
                    <a href="/blog">
                        <span id="blog-btn-sidebar"     class="button">Blog</span>
                    </a>
                    <a href="/about">
                        <span id="about-btn-sidebar"    class="button">About</span>
                    </a>
                </span>
                <a href="/">
                    <span id="name" ><span class="name-sidebar">Tim Thornton</span></span>
                </a>
                <span class="nav" id="nav-sidebar-right">
                    <a href="/projects">
                        <span id="projects-btn-sidebar" class="button">Projects</span>
                    </a>
                    <a href="/resume">
                        <span id="resume-btn-sidebar"   class="button">Résumé</span>
                    </a>
                </span>
            </div>
        </div>

        <div id="site-content">
