<% include header.ejs %>

<div class="article">
    <div class="article-content" style="height:390px">
        <div class="article-title">Projects</div>
        <br>
        
        <div class="project-thumb">
            <a href="/projects/ape">
                <img src="/images/ape-150x150.png"> 
            </a>
        </div>

        <div class="project-thumb">
            <a href="/projects/beatbuster">
                <img src="/images/bb-150x150.png"> 
            </a>
        </div>

        <div class="project-thumb">
            <a href="/projects/galacticgolf">
                <img src="/images/gg-150x150.png"> 
            </a>
        </div>

        <div class="project-thumb">
            <a href="/projects/jarvis">
                <img src="/images/jarvis-150x150.png"> 
            </a>
        </div>

        <div class="project-thumb">
            <a href="/projects/ocapp">
                <img src="/images/ocapp-147x150.png"> 
            </a>
        </div>

        <div class="project-thumb">
            <a href="/projects/pointless">
                <img src="/images/Screenshot_2013-07-15-20-25-13-150x150.png"> 
            </a>
        </div>

    </div>
</div>

<% include footer.ejs %>
