<% include header.ejs %>

<link rel="stylesheet" href="/ResumeVis/style.css">

<h2 style="text-align:center;left:-30px;position:relative;">Experience</h2>

<div class="article" id="experience"></div>

<script src="/ResumeVis/D3/d3.js"></script>

<script src="/ResumeVis/data.js"></script>
<script src="/ResumeVis/ResumeAggregate.js"></script>
<script src="/ResumeVis/ResumeVis.js"></script>

<% include footer.ejs %>
