<% include header.ejs %>

<link rel="stylesheet" href="/ResumeVis/style.css">

<div class="article" id="experience-content">
    <div class="article-title">Experience</div>
    <br>
    <div id="experience"></div>
</div>

<script src="/ResumeVis/D3/d3.js"></script>

<script src="/ResumeVis/data.js"></script>
<script src="/ResumeVis/ResumeAggregate.js"></script>
<script src="/ResumeVis/ResumeVis.js"></script>

<% include footer.ejs %>
