h4, h6 {
    margin: 0;
    font-family: inherit;
}

h5 {
    font-family: inherit;
    font-size: 14px;
}

h3 {
    color: #c0392b;
    font-size:30px;
    font-family: 'Belgrano';
}

body {
    background: #fdf6e3; 
    overflow-x: hidden;
    margin: 0px;
}

p {
    text-indent: 30px;
}

a {
    text-decoration: none;
    color: #268bd2
}

code {
    overflow-x: auto;
    border-radius: 2px;
    padding: 8px;
    line-height: 20px;
    font-family: Inconsolata;
}

.article-title {
    color: #dc322f;
    font-size: 24px;
    font-family: 'Belgrano';
    text-decoration: none;
}

.read-more-container {
    text-align: right;
}

.read-more {
    font-size:16px;
    color: #dc322f;
    font-family: 'Belgrano';
    text-decoration: none;
    padding-right: 30px;
}

.article-title:hover, .read-more:hover {
    color: #073642;
}

#name:hover, .name:hover {
    color: #dc322f;
    cursor: hand;
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    color:#95A5A6;
    padding:5px;
    font-size: 70px;
    font-family: 'Open Sans';
}

#footer-content {
    display: block;
    position: absolute;
    bottom: 8px;
    left: 80px;
}

#content {
    width: 100%;
}

.nav {
    padding-top:20px;
    margin: 0 auto;
    display: block;
    width: 240px;
    position: absolute;
    margin-top: 35px;
}

#nav-main {
    top: 30%; 
    font-size: 14px;
    padding: 10px;
    left: 42%;
}

#nav-sidebar {
    top: 60px;
}

#background {
    width:100%;
    height:100%;
    position: fixed;
}

#sidebar {
    height: 100%;
    font-size: 14px;
    position: fixed;
    left:0px;
    padding-top:40px;
    width:250px;
}

#contact-shortcuts {
    padding:8px;
    bottom: 40px;
    position: absolute;
    opacity: 0.6;
}

.contact-img:hover {
    opacity: 0.6;
}

#contact-shortcuts:hover {
    opacity: 1;
}

#tag {
    text-align:center;
    color: #858b8b;
    padding:5px;
    margin-bottom: 20px;
    position: relative;
    left: 15px;
}

.button {
    left: 45px;
    font-family: Open Sans;
    position: relative;
    color: rgba(116,116,116,1);
    text-decoration: none;
    padding: 4px;
    margin: 15px auto;
    text-align: left;
}

.button:hover {
    color: #dc322f;
    cursor: hand;
}

.article-content {
    padding-left: 25px; 
    padding-right: 25px; 
    font-size: 100%;
    color: #3f3f3f;
    margin-top: 25px;
    line-height: 23px;
}

.article-metadata {
    font-size: 10px;
    vertical-align: baseline;
    clear: both;
    float: right;
    right: -150px;
    position: relative;
    padding: 4px;
    padding-left: 16px;
    padding-right: 10px;
    top: 10px;
    color: #858b8b;
    font-family: Open Sans;
    font-size: 13px;
}

.article, .article-comment {
    box-shadow: 0 2px 5px #222222;
    padding: 5px;
    padding-top:15px;
    margin-bottom: 25px;
    margin-top: 10px;
    padding-bottom: 5px;
    background: white;
    padding-left: 15px;
    font-family: Open Sans
}

.title {
}

#site-content {
    position: absolute;
    top: 33px;
    left: 250px;
    margin-left:25px;
    width: -moz-calc(100% - 350px);
    width: -webkit-calc(100% - 350px);
    width: calc(100% - 350px);
    min-width: 600px;
    max-width: 800px;
    padding-bottom: 25px;
}

#lambda {
    bottom: 0;
    width: 268px;
    position: absolute;
    opacity: 0.5;
}

.name-sidebar {
    padding-bottom: 20px; 
    padding: 10px;
}

#name {
    text-align:center;
    width: 115%;
    font-family: 'Belgrano';
    font-size: 30px;
    color: #073642;
}

/* Comments */

.article-comment {
    padding-right: 40px;
    padding-left: 40px;
    margin: 0;
}

.comment-content {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 70px;
    overflow-y: hidden;
    resize: none;
}

.comment-content-concrete {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-y: hidden;
    resize: none;
    position:relative;
    left: 25px;
    font-size: 14px;
}

#comment-header {
    margin-left: auto;
    margin-right:auto;
    width: 70px;
    padding-bottom: 20px;
}

.comment-reply-link {
    color: grey;
    cursor: hand;
}
