body {
    background: #f8f8f8;
    overflow-x: hidden;
    margin: 0px;
}

h4, h6 {
    margin: 0;
    font-family: inherit;
}

h5 {
    font-family: inherit;
    font-size: 14px;
}

h3 {
    color: #c0392b;
    font-size:30px;
    font-family: 'Lato';
}

hr {
    border-top: 1px solid #cfcfcf;
    margin-bottom: 0;
}

p {
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    color: #268bd2
}

code {
    overflow-x: auto;
    border-radius: 2px;
    padding: 8px;
    line-height: 20px;
    font-family: Inconsolata;
}

pre code {
    white-space: pre;
    overflow: auto;
    overflow-y: hidden;
}

pre {
    word-wrap: normal;
}

h5 {
    font-weight: bold;
}

.project-image {
    box-shadow: 0 0 10px 0 black;
    margin-top: 25px;
}

.navbar-toggle {
    background: #f8f8f8;
}

.navbar-custom {
    background-color: #002b36;
    color: #e6e6e6!important;
    position: fixed;
    width: 100%;
    border-radius: 0;
    margin: 0;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    z-index: 1000;
}

.navbar-custom .navbar-nav > li > a:hover {
    color:#222222;
}

.navbar-custom-button {
    color: #ccc;
    background-color: #002b36;
}

.navbar-custom-button:hover .navbar-custom-buttom:focus {
    background-color: #f6f6f6;
    color: #222;
}

.navbar-custom-button .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #222222;
    background-color: #f6f6f6;
}


.navbar-custom .navbar-brand {
    color:#eee;
}

.navbar-brand:hover, .navbar-brand:focus {
    background-color: #002b36!important;
    color: #999!important;
}


.navbar-brand {
    margin-right: 280px!important;
}

.active {
    color: #222222;
    background-color: #f6f6f6;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.comment-picture {
    display: block;
    padding: 4.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    color: #666;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    margin-right: 10px;
}

.article-title {
    color: #dc322f;
    font-size: 26px;
    font-family: 'Lato';
    text-decoration: none;
    padding-right: 25px;
    letter-spacing: -1;
}

.read-more-container {
    text-align: right;
}

.read-more {
    font-size:16px;
    color: #dc322f;
    font-family: 'Lato';
    text-decoration: none;
    padding-right: 30px;
}

.article-title:hover, .read-more:hover {
    color: #073642;
}

#name:hover, .name:hover, .button:hover {
    color: #999999;
    cursor: hand;
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    color:#95A5A6;
    padding:5px;
    font-size: 70px;
    font-family: 'Open Sans';
}

#footer-content {
    display: block;
    position: absolute;
    bottom: 8px;
    left: 80px;
}

#content {
    width: 100%;
}

#nav-main {
    font-size: 14px;
    padding: 10px;
    left: 42%;
}

#nav-sidebar {
    border-top: 1px solid rgba(60, 60, 60, 1);
}

#sidebar-content {
    margin-left: auto;
    margin-right:auto;
    position: relative;
    width: 580px;
}

#background {
    width:100%;
    height:100%;
    position: fixed;
}

#sidebar {
    height: 100%;
    font-size: 14px;
    position: fixed;
    top:0px;
    width:100%;
    height: 50px;
    background: #002b36;
    box-shadow: 3px 0 5px #002b36;
    z-index: 10000;
}

#contact-shortcuts {
    padding:8px;
    bottom: 0px;
    position: fixed;
    opacity: 0.6;
}

.contact-img:hover {
    opacity: 0.6;
}

#contact-shortcuts:hover {
    opacity: 1;
}

#tag {
    text-align:center;
    color: #858b8b;
    padding:5px;
    margin-bottom: 20px;
    position: relative;
}

.button {
    font-family: Open Sans;
    position: relative;
    color: #a6a6a6;
    text-decoration: none;
    padding-right:20px;
    padding-left:20px;
}

.article-content {
    padding-right: 25px;
    font-size: 14px;
    color: #666;
    margin-top: 25px;
    line-height: 23px;
}

.article-metadata {
    font-size: 10px;
    vertical-align: baseline;
    clear: both;
    float: right;
    right: -150px;
    position: relative;
    padding: 4px;
    padding-left: 16px;
    padding-right: 10px;
    top: 10px;
    color: #858b8b;
    font-family: Open Sans;
    font-size: 13px;
}

@media only screen and (max-width: 1026px) {
    .article-metadata,
    #contact-shortcuts {
        display: none;
    }
}

.article, .article-comment {
    padding: 5px;
    margin-left: 15px;
    font-family: Open Sans;
    padding-top:25px;
}

.title {}

#site-content {
    max-width: 620px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top:50px;
}

#lambda {
    bottom: 0;
    width: 268px;
    position: absolute;
    opacity: 0.5;
}

.name-sidebar {
    text-align: center;
}

#name {
    font-family: 'Lato';
    font-size: 30px;
    color: #c6c6c6;
    padding-bottom: 5px;
    line-height: 50px;
    padding-right:20px;
    padding-left:20px;
}

/* Comments */

.leave-comment-prompt {
    margin-bottom: 5px;
}

.comment-rest {
    margin-left: 61px;
}

.article-comment {
    padding-right: 25px;
    padding-left: 25px;
    margin: 0;
    color: grey;
}

.leave-comment {}

.project-thumb:hover {
    box-shadow: 0 0 5px 3px #dc322f;
}

.project-thumb {
    float: left;
    box-shadow: 0 0 5px 3px #444444;
    margin: 10px;
}

.project-image {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#recent-articles {
    position: fixed;
    top: 80px;
    width: 250px;
}

.narrow {
    visibility: hidden;
}

.comment-content {
    width: 100%;
    height: 70px;
    overflow-y: hidden;
    resize: none;
    padding: 4px;
    margin: 2px;
}

.comment-content-concrete {
    word-wrap: break-word;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-y: hidden;
    resize: none;
    position:relative;
    color: black;
}

#comment-header {
    margin-left: auto;
    margin-right:auto;
    width: 70px;
    padding-bottom: 20px;
    font-family: Helvetica;
    color: #69686a
}

.comment-reply-link {
    cursor: hand;
    color: rgba(0, 39, 59, 0.498039);
}

.comment-reply {
    padding-left: 75px;
}

.comment-full {
    width: 100%;
    padding: 4px;
    margin: 2px;
}

