h4, h6 {
    margin: 0;
    font-family: inherit;
}

h5 {
    font-family: inherit;
    font-size: 14px;
}

h3 {
    color: #c0392b;
    font-size:30px;
    font-family: 'Belgrano';
}

body {
    background: #34495E; 
}

p {
    text-indent: 30px;
}

a {
    text-decoration: none;
}

code {
    overflow-x: auto;
    border-radius: 2px;
    padding: 8px;
    line-height: 20px;
}

.article-title {
    color: #c0392b;
    font-size: 24px;
    font-family: 'Belgrano';
    text-decoration: none;
}

.read-more-container {
    text-align: right;
}

.read-more {
    font-size:16px;
    color: #c0392b;
    font-family: 'Belgrano';
    text-decoration: none;
    padding-right: 30px;
}

.article-title:hover, .read-more:hover {
    color: #2C3E50;
}

#name:hover, .name:hover {
    color: #C0392B;
    cursor: hand;
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    color:#95A5A6;
    padding:5px;
    font-size: 70px;
    font-family: 'Open Sans';
}

#footer-content {
    display: block;
    position: absolute;
    bottom: 8px;
    left: 80px;
}

#content {
    width: 100%;
}

.nav {
    padding-top:20px;
    margin: 0 auto;
    display: block;
    width: 240px;
    position: absolute;
}

#nav-main {
    top: 30%; 
    font-size: 14px;
    padding: 10px;
    left: 42%;
}

#nav-sidebar {
    top: 60px;
}

#background {
    width:100%;
    height:100%;
    position: fixed;
}

#sidebar {
    text-align: right;
    font-size: 14px;
    position: fixed;
    top:40px;
    left:0px;
    width:250px;
}

#tag {
    text-align:center;
    color: #95A5A6;
    padding:5px;
    margin-bottom: 20px;
    position: relative;
    left: 15px;
}

.button {
    left: 15px;
    font-family: Open Sans;
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #46596D;
    padding: 4px;
    /*-webkit-border-radius: 8px;
    -moz-border-radius: 8px;*/
    -webkit-box-shadow: 0px 9px 0px rgba(0,0,0,0.1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(0,0,0,0.1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(0,0,0,0.1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 15px auto;
    text-align: center;
    
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.button:hover {
    cursor: hand;
    -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(0,0,0,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(0,0,0,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.article-content {
    padding-left: 25px; 
    padding-right: 25px; 
    font-size: 100%;
    color: #3f3f3f;
    margin-top: 25px;
    line-height: 23px;
}

.created-at {
    font-size: 10px;
    vertical-align: baseline;
    clear: both;
    float: right;
    right: -150px;
    position: relative;
    padding: 4px;
    padding-left: 16px;
    padding-right: 10px;
    top: 10px;
    /*border-radius: 8px;*/
    background: #2c3e50;
    color: #95A5A6;
    font-family: Open Sans;
    font-size: 13px;
}

.article {
    box-shadow: 0 5px 5px #222222;
    padding: 5px;
    padding-top:15px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    background: white;
    /*border-radius: 10px;*/
    padding-left: 15px;
    font-family: Open Sans
}

.title {

}

#site-content {
    position: absolute;
    top: 40px;
    left: 250px;
    background: #2C3E50;
    margin-left:20px;
    padding: 10px;
    /*border-radius: 16px;*/
    width: -moz-calc(100% - 350px);
    width: -webkit-calc(100% - 350px);
    width: calc(100% - 350px);
    min-width: 600px;
    max-width: 800px;
}

#lambda {
    bottom: 0;
    width: 250px;
    position: absolute;
    opacity: 0.15;
}

.name-sidebar {
    padding-bottom: 20px; 
    padding: 10px;
    text-shadow: 0 4px 4px #222222;
}

#name {
    text-align:center;
    width: 115%;
    font-family: 'Belgrano';
    font-size: 30px;
    color: white;
    background: #2c3e50;
}
