<% include ../header.ejs %>

<div class="article">
    <div class="article-content">
        <div class="article-title">Beat Buster</div>
        <img class="project-image" src="/images/bb.png">
        <br>
        <div class="project-description">
        As a first year game development project, myself and two other first year students created a unique platformer shooter, in which nearly all of the content is dynamically generated through frequency analysis and beat detection of a user-supplied audio file. This project was done using the Java implementation of Processing, and made heavy use of the Minim audio library.
        </div>
    </div>
</div>

<% include ../footer.ejs %>
