<% include ../header.ejs %>

<div class="article">
    <div class="article-content">
        <div class="article-title">Node Jarvis</div>
        <img class="project-image" src="/images/jarvis.png">
        <br>
        <a href="http://node-jarvis.herokuapp.com/jarvis.html">herokuapp</a> | <a href="https://github.com/igorii/node-jarvis">GitHub</a>
        <div class="project-description">
        <p>Inspired by Jarvis, Iron man&#8217;s digital life assistant, and by <a href="http://cranklin.com">Cranklin</a>, this project is a quick attempt at creating my own digital life assistant, while also learning the ropes of Node.js. I have been meaning to play around with Node.js after having some exposure to it while on a recent work term. Node-Jarvis uses Google&#8217;s speech-to-text/text-to-speech services, Node.js for a server, and HTML/CSS/JavaScript for the user interface.
        Node-Jarvis is being created on the web so that it is readily available anywhere on my personal network. By hosting Jarvis on my own local machine, I am able to have Jarvis interact with my machine, launching programs and scripts from voice commands.</p>
        <p>While Jarvis is being created for my own personal use, I have launched a version without system interaction using <a href="http://www.heroku.com/">Heroku</a>. If you are interested, you can check it out <a href="http://node-jarvis.herokuapp.com/jarvis.html">here</a>. Since Jarvis is still young, only easy commands can be answered. Try asking <em>&#8220;what day is it&#8221;</em>, or <em>&#8220;when was the first superbowl&#8221;</em>. <strong>Note,</strong> however that
        Jarvis uses non-standard HTML, and thus will only work with Google Chrome.</p>
        </div>
    </div>
</div>

<% include ../footer.ejs %>
