<% include ../header.ejs %>

<div class="article">
    <div class="article-content">
        <div class="article-title">Lizard Wizard</div>
        <img class="project-image" src="/images/lw_big.png">
        <br>
        <div class="project-description">
        <p>
        When competing in the fourth Great Canadian Appathon, myself and three others decided to create an Android game. We spent the first night of the 48 hour competition installing and learning Haxe, the language we thought we would like to use. After a whole night lost in setup, we determined that Haxe might not be the best option given the time constraints. Instead, we resorted to a language that we all had previously used: Processing.
        </p>
        <p>
        After setting up the familiar environment, we got to work building a side-scroller, where your character, a wizard lizard, must defeat waves of baddies which progressively spawn faster as the player survives. The score is simply set by the time played without dying. To make things more interesting, the wizard must shoot enemies with the correct spell in order to eliminate them, all while watching out for gaps in the floor. The spells can be angled by tilting the Android device in the desired direction.
        </p>
        <p>
        A simple concept, but one we were able to get working in the time constraints, and one which proved to be quite fun to play!
        </p>
        </div>
    </div>
</div>

<% include ../footer.ejs %>
