<% include ../header.ejs %>

<div class="article">
    <div class="article-content">
        <div class="article-title">OC Tracker App</div>
        <img class="project-image" src="/images/ocApp.png" style="width:85%">
        <br>
        <a href="http://github.com/igorii/ocweb">GitHub</a>
        <div class="project-description">
        In order to obtain more accurate predictions as to when OCTranspo buses arrive, a friend and I created a web application that made use of Google Maps and the pseudo-real-time GPS data provided by OCTranspo. This simple application allowed a user to search for a stop, and would be given the next three stops, using the GPS data when available, and the schedule when not. A few fun features were added, such as the colouring of stops as a function of their popularity using a heatmap style. Primitive account support is also included, allowing users to save favourite stops and directions. This project used Node.js as a server.
        </div>
    </div>
</div>

<% include ../footer.ejs %>
