<% include ../header.ejs %>

<div class="article">
    <h2>Welcome!</h2>
    <hr>
    <br>
    <h4>Options</h4>
    <a href="/blog/create">New Post</a>
</div>
<div class="article">
    <h4>Drafts</h4>
    <ul>
        <% for (var i = 0; i < drafts.length;  ++i) { %>
        <li><a href="<%='/blog/editDraft/' + drafts[i]._id %>"> <%= drafts[i].title %></a></li>
        <% } %>
    </ul>

</div>

<% include ../footer.ejs %>
