<% include ../header.ejs %>

<% articles.forEach(function (article) { %>
    <% include article_template.ejs %>
            <hr>
            <div class="read-more-container">
                <%if (article.github && article.github !== '') { %>
                    <a class="read-more" href="<%- article.github %>">Github</a>
                <% } %>
                <a class="read-more" href="/blog/id/<%= article._id %>">Read more...</a>
            </div>
        </div>
    </div> 
<% }) %>

<% include ../footer.ejs %>
