<% include ../header.ejs %>

<div class="article">
    <script src="/res/Showdown/showdown.js"></script>
    <script src="/javascripts/blog/create.js"></script>
    <form role="form" method="post" action="/blog/author">
        <div class="form-group">
            <label for="edit-title">Title</label>
            <input class="form-control" id="edit-title" type="text" name="title">
        </div>
        <br>
        <div class="form-group">
            <label for="edit-title">Created</label>
            <input class="form-control" id="edit-title" type="text" name="created">
        </div>
        <br>
        <div style="width:200%">
            <textarea class="form-control" style="float:left;resize:vertical;width:48%;height:450px" id="edit-markdown" name="markdown"></textarea>
            <div class="form-control" style="position:relative;float:right;resize:vertical;width:48%;height:450px" id="edit-markdown2" name="markdown2"></div>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="edit-github">Github</label>
            <input class="form-control" id="edit-github" type="text" name="github">
        </div>
        <br>
        <input class="btn btn-default" type="submit" name="save" value="Save">
        <input class="btn btn-default" type="submit" name="publish" value="Publish">
    </form>
</div>

<% include ../footer.ejs %>
